<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gps</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">À propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
      <!-- Bouton de déconnexion -->
      <button class="btn btn-danger ms-3">Déconnexion</button>
    </div>
  </div>
</nav>


<div class="container">
  <h2>Liste des Utilisateurs</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button class="btn btn-primary" >
            Voir sur carte
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="pagination">
    <button
      (click)="loadUsers(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Précédent
    </button>
    <span>Page {{ currentPage }}</span>
    <button
      (click)="loadUsers(currentPage + 1)"
      [disabled]="currentPage * perPage >= totalUsers"
    >
      Suivant
    </button>
  </div>
</div>
